*{
    box-sizing: border-box;
}

body{
    height:100%;
    margin: 0;
    background-color: #bed1e6;
}
button{
    width: 70px;
    height: auto;
    background-color: gainsboro;
    border: none; 
    border-radius: 5px;
    transition-duration: .5s;
}
button:hover{
    background-color:aquamarine;
}
button:focus{
    border: none;
    outline-color: black;
}
/* Allows the search and forecast display to be shown side by side */
.weather-container{
    display:inline-block;
}